<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>FastTalker</string>
	<key>CFBundleIdentifier</key>
	<string>com.smallnstats.fasttalker</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used to make icons</string>
  <key>NSCalendarsUsageDescription</key>
  <string>This is necessary for use in the Xamarin Framework</string>
  <key>UIRequiresFullScreen</key>
  <true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The library is used to make icons</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76@2x.png</string>
    <string>Icon-83.5@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
</dict>
</plist>
