<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{464,515},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1670,600},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CameraIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderClosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1029,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{866,515},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1531,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Single.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1268,503},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speaker_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,360}</string>
                <key>spriteSourceSize</key>
                <string>{461,360}</string>
                <key>textureRect</key>
                <string>{{1,515},{461,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frameWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,202}</string>
                <key>spriteSourceSize</key>
                <string>{597,202}</string>
                <key>textureRect</key>
                <string>{{1670,1},{597,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{1873,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e84e05422c2ac8c2f9700ae854bb92a:c3f12893b36aa200ccb9d36dd4e69619:740e8b278989ded0e6d093e12868dbf3$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
