<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1468,1005},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{600,1531},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CameraIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderClosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{515,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1029},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenDarkBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{515,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenDarkPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1017,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenDarkPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1017,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1519,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenLightBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1519,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FolderOpenRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,1029},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1005,1367},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1870,1005},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Single.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1407,1407},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speaker_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,360}</string>
                <key>spriteSourceSize</key>
                <string>{461,360}</string>
                <key>textureRect</key>
                <string>{{1005,1005},{461,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frameWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,202}</string>
                <key>spriteSourceSize</key>
                <string>{597,202}</string>
                <key>textureRect</key>
                <string>{{1,1531},{597,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{2020,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa8785eaaeec588b7fde8e7b57dfb41:f3e608d66edaa68e706811d8adbd5ab4:740e8b278989ded0e6d093e12868dbf3$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
